body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: lightgray;
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
}


/* ul li:first-child{
  line-height: 100%;
  list-style: none;
  margin-left: 20px;
} */