body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: lightgray;
  color: black;
  line-height: 1.5;
  font-size: 0.875rem;
  text-align: center;
}

.flex-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.semi-main {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.mr-2 {
  margin-right: 5px;
}

.ml-2 {
  margin-left: 5px;
}

/* ul li:first-child{
  line-height: 100%;
  list-style: none;
  margin-left: 20px;
} */